*{ padding: 0;margin: 0;}
html, body {
        position: relative;
        height: 100%;
        margin: 0;
        padding:0;
    }
    body {
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color:#000;
        margin: 0;
        padding: 0;
        background: url(../image/585X1015.jpg) no-repeat fixed center;
        background-size: 100% 100%;
    }
    .box{
        margin: 0 auto;
        max-width: 500px;
        height: 100%
    }
    .swiper-container {
        width: 100%;
        height: 100%;
    }
    .swiper-bg{
        width: 180%;
        height: 100%;
        position:absolute;
        z-index: -1;
    }
    .swiper-slide h4{
        padding: 0;
        margin: 0;
        padding: 10px;
        padding-bottom: 0;
        font-size: 0.3rem;   
        line-height: 0.48rem;
    }
    .swiper-pagination{
        width: 85%;
        margin: 0 5%;
        height: 20px;
        bottom: 80px;
    }
    .pagination-checkyet{
        opacity: 1;
        background-color: #ff7887;
    }
    input[type=radio]{
        opacity: 0;
        display: none
    }
    
    .answer{
        display: none;
    }
    .remind-bg{
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 99;
        background-color:rgba(0,0,0,0.6);
        top: 0;
        display: none;
    }
    .remind-content{
        background-color: #fff;
        width: 70%;
        margin:0 auto;
        padding: 20px 30px;
        border-radius: 20px;
    }
    .remind-content button{
        background-color: #ff7887;
        color: #fff;
    }
    .remind-content h3{
        text-indent: 2em;
    }
    .btn-bg{
        text-align: center;
    }
    .defult-btn{
        display: inline-block;
        margin: 10px;
        padding: .5em 1em;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.2;
        text-align: center;
        white-space: nowrap;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 0;
        cursor: pointer;
        outline: 0;
        -webkit-appearance: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-transition: background-color .3s ease-out,border-color .3s ease-out;
        transition: background-color .3s ease-out,border-color .3s ease-out;
    }
    .defult-btn:hover{
        background-color: #e6e6e6;
        color:#ff7887;
    }

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
    background-image: url("../image/jiantou-left.png");
    left: 10px;
    right: auto
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
    background-image: url("../image/jiantou-right.png");
    right: 10px;
    left: auto;
}

.title_img{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding-top: 0rem
}
.title_img>img{
    width: 5.32rem;
    height: 3.65rem; 
}
section{
    margin:20px 10%;
    padding: 15px;
    border-radius: 20px;
    background-color: rgba(255,255,255,0.8);
    margin-top: 2rem;
}
.tabs{
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.28rem;
}
.active{
    background-color: #ff7887;
    color: #fff;
}
@media (min-width:720px) {
    section{
        margin-top: 0.5rem;
    }
}